<div *ngIf="loading" class="animated fadeIn fast">
  <div class="ui buttons">
    <button class="ui button">{{pregunta.id }}</button>
    <div class="or" data-text="of"></div>
    <button class="ui positive button">{{preguntas.length}}</button>
  </div>
  <h3>{{pregunta.id }}. {{pregunta.nombrePregunta}}</h3>
  <br>

  <div class="ui two column doubling stackable grid container centrar-elementos">

    <div class="column" *ngFor="let opcion of pregunta.opciones; let index = index">
      <div class="ui left floated compact segment">
        <div class="ui fitted checkbox">
          <div class="ui radio checkbox">
            <input type="radio"
                   (click)="seleccion(index)"
                   id="opt-{{index +1}}"
                   name="option"
                   [checked]="opcion.value"
            >
            <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{opcion.nombre}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr>

  <div class="ui two column doubling stackable grid container centrar-elementos">
    <div class="column">

      <button class="ui left labeled icon button primary"
              [disabled]="atras"
              (click)="indiceRuta(first)"
      >
        <i class="up arrow icon"></i>
        First
      </button>

      <button class="ui left labeled icon button primary"
              [disabled]="atras"
              (click)="indiceRuta(prev)"
      >
        <i class="left arrow icon"></i>
        Prev
      </button>

      <button class="ui right labeled icon button primary"
              [disabled]="adelante"
              (click)="indiceRuta(next)"
      >
        <i class="right arrow icon"></i>
        Next
      </button>

      <button class="ui right labeled icon button primary"
              [disabled]="adelante"
              (click)="indiceRuta(last)"
      >
        <i class="down arrow icon"></i>
        Last
      </button>
    </div>
  </div>
</div>

